<div id="main-body">

    <section class="breadcrumbs">
        <div class="container">
            <div class="content">
                <span class="item"><a href="?page=trangchu" title="Trang chủ">Trang chủ</a></span>
                <span class="item_sep"> / </span>
                <span class="item"><a href="?page=uudai" title="Dự án">Ưu đãi</a>
                </span></div>
        </div>
    </section>

    <section id="project">
        <div class="container">
            <div class="box_uu_dai">
                <div class="module">
                    <div class="modulecontent">
                        <div class="row aos-init aos-animate" data-aos="fade-up">
                            <div class="col-sm-6 col-xs-12 pt-30">
                                <div class="single-banner" style="background-image: url('http://datxanhbacmientrung.com/uploads/static/tin-tuc/tin-dat-xanh/Marina/FB-PH-TET(1).jpg')">
                                    <a href=""><img
                                            src="http://datxanhbacmientrung.com/uploads/static/tin-tuc/tin-dat-xanh/Marina/FB-PH-TET(1).jpg"
                                            alt=""></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 pt-30">
                                <div class="single-banner" style="background-image: url('http://datxanhbacmientrung.com/uploads/static/tin-tuc/tin-dat-xanh/an-cuu/center-park-6.jpg')">
                                    <a href=""><img
                                            src="http://datxanhbacmientrung.com/uploads/static/tin-tuc/tin-dat-xanh/an-cuu/center-park-6.jpg"
                                            alt=""></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 pt-30">
                                <div class="single-banner" style="background-image: url('http://datxanhbacmientrung.com/uploads/static/tin-tuc/tin-thi-truong/BatDongSan.gif')">
                                    <a href=""><img
                                            src="http://datxanhbacmientrung.com/uploads/static/tin-tuc/tin-thi-truong/BatDongSan.gif"
                                            alt=""></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 pt-30">
                                <div class="single-banner" style="background-image: url('http://datxanhbacmientrung.com/uploads/static/banner/banner%20ECO.jpg')">
                                    <a href=""><img
                                            src="http://datxanhbacmientrung.com/uploads/static/banner/banner%20ECO.jpg"
                                            alt=""></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 pt-30">
                                <div class="single-banner" style="background-image: url('http://datxanhbacmientrung.com/uploads/static/Banner/Banner%20100tr.jpg')">
                                    <a href=""><img
                                            src="http://datxanhbacmientrung.com/uploads/static/Banner/Banner%20100tr.jpg"
                                            alt=""></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 pt-30">
                                <div class="single-banner" style="background-image: url('https://i.imgur.com/hsLrqUf.gif')">
                                    <a href=""><img
                                            src="https://i.imgur.com/hsLrqUf.gif" alt=""></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 pt-30">
                                <div class="single-banner" style="background-image: url('http://datxanhbacmientrung.com/uploads/static/FB-ADS-2.jpg')">
                                    <a href=""><img
                                            src="http://datxanhbacmientrung.com/uploads/static/FB-ADS-2.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 pt-30">
                                <div class="single-banner" style="background-image: url('http://datxanhbacmientrung.com/uploads/static/banner/lESXI0X.gif')">
                                    <a href=""><img
                                            src="http://datxanhbacmientrung.com/uploads/static/banner/lESXI0X.gif" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
